<section>
    <div class="scrollViewAnimation">
        <div class="scrollViewAnimateArrow">
            <img class="scrollArrow" src="../../assets/img/scrollViewArrow.png">
        </div>
        <div class="scrollViewVector"></div>
    </div>
    <div class="contactView">
        <a class="karlaFont mailTextButton">aenglertymail<br>23&#64;gmail.com</a>
        <div class="contactButtonImg">
            <a href="mailto:aenglertymail23@gmail.com" class="mailButtonStyle"><img src="../../../assets/img/mailButton.png"></a>
            <a [attr.href]="'https://github.com/AlexanderEnglert'" target="_blank"><img src="../../assets/img/githubButton.png"></a>
            <a [attr.href]="'https://www.linkedin.com/in/alexander-englert-783b8434b/'" target="_blank"><img src="../../assets/img/linkedinButton.png"></a>
        </div>
        <div class="vector"></div>
    </div>
</section>

