<section>
    <span class="firaCodeFont jobTitle" #jobTitle>{{ translations.mainTopIntroduce.job}}</span>
    <div class="nameButtons">
        <div class="nameStyle">
            <span class="karlaFont nameTitle" #nameTitle>Alexander Englert</span>
        </div>
        <div class="buttonContactAndCheck">
            <a (click)="scrollJump('projectSection')" style=" width: 170px;" class="aContactCheck karlaFont">
                <span>{{ translations.mainTopIntroduce.firstButton }}</span>
            </a>
            <a (click)="scrollJump('contactSection')"style=" width: 140px;" class="aContactCheck karlaFont">
                <span>{{ translations.mainTopIntroduce.secondButton }}</span>
            </a>
        </div>
    </div>
</section>
