<section>
  <main  class="karlaFont">
    <h1>{{ translations.privacyDefinitions.privacyMainHeader }}</h1>
    <div class="privacyText">
      <h4>{{ translations.privacyDefinitions.privacyHeadline }}</h4>
      <ul style="list-style: none">
        <li>
          <h4>{{ translations.privacyDefinitions.privacyAHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyAText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyBHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyBText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyCHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyCText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyDHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyDText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyEHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyEText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyFHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyFText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyGHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyGText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyHHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyHText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyIHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyIText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyJHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyJText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDefinitions.privacyKHeadline }}</h4>
          <p>{{ translations.privacyDefinitions.privacyKText }}</p>
        </li>
      </ul>
      <h4>{{ translations.privacyName.privacyHeadline }}</h4>
      <p>{{ translations.privacyName.privacyHeadlineText }}</p>
      <p>{{ translations.privacyName.privacyPrivat }}</p>
      <p>Uferstraße 2</p>
      <p>89269 Vöhringen</p>
      <p>{{ translations.privacyName.privacyCountry }}</p>
      <p>{{ translations.privacyName.privacyPhone }}</p>
      <p>Email: aenglertymail23&commat;gmail.com</p>
      <p>{{ translations.privacyName.privacyWebsite }}</p>
      <h4>{{ translations.privacyData.privacyHeadline }}</h4>
      <p>{{ translations.privacyData.privacyFirstText }}</p>
      <p>{{ translations.privacyData.privacySecondText }}</p>
      <h4>{{ translations.privacyContact.privacyHeadline }}</h4>
      <p>{{ translations.privacyContact.privacyText }}</p>
      <h4>{{ translations.privacyPersonalData.privacyHeadline }}</h4>
      <p>{{ translations.privacyPersonalData.privacyFirstText }}</p>
      <p>{{ translations.privacyPersonalData.privacySecondText }}</p>
      <h4>{{ translations.privacyDataSubject.privacyMainHeadline }}</h4>
      <ul style="list-style: none">
        <li>
          <h4>{{ translations.privacyDataSubject.privacyAHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyAText }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyBHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyBText }}</p>
          <ul style="list-style: none">
            <li>{{ translations.privacyDataSubject.privacyBLiFirst }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiSecond }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiThird }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiFourth }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiFifth }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiSixth }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiSeventh }}</li>
            <li>{{ translations.privacyDataSubject.privacyBLiEight }}</li>
          </ul>
          <p>{{ translations.privacyDataSubject.privacyBPFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyBPSecond }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyCHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyCTextFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyCTextSecond }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyDHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyDTextFirst }}</p>
          <ul style="list-style: none">
            <li>{{ translations.privacyDataSubject.privacyDLiFirst }}</li>
            <li>{{ translations.privacyDataSubject.privacyDLiSecond }}</li>
            <li>{{ translations.privacyDataSubject.privacyDLiThird }}</li>
            <li>{{ translations.privacyDataSubject.privacyDLiFourth }}</li>
            <li>{{ translations.privacyDataSubject.privacyDLiFifth }}</li>
            <li>{{ translations.privacyDataSubject.privacyDLiSixth }}</li>
          </ul>
          <p>{{ translations.privacyDataSubject.privacyDPFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyDPSecond }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyEHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyEText }}</p>
          <ul style="list-style: none">
            <li>{{ translations.privacyDataSubject.privacyELiFirst }}</li>
            <li>{{ translations.privacyDataSubject.privacyELiSecond }}</li>
            <li>{{ translations.privacyDataSubject.privacyELiThird }}</li>
            <li>{{ translations.privacyDataSubject.privacyELiFourth }}</li>
          </ul>
          <p>{{ translations.privacyDataSubject.privacyEPFirst }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyFHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyFPFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyFPSecond }}</p>
          <p>{{ translations.privacyDataSubject.privacyFPThird }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyGHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyGPFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyGPSecond }}</p>
          <p>{{ translations.privacyDataSubject.privacyGPThird }}</p>
          <p>{{ translations.privacyDataSubject.privacyGPFourth }}</p>
          <p>{{ translations.privacyDataSubject.privacyGPFifth }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyHHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyHPFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyHPSecond }}</p>
          <p>{{ translations.privacyDataSubject.privacyHPThird }}</p>
        </li>
        <li>
          <h4>{{ translations.privacyDataSubject.privacyIHeadline }}</h4>
          <p>{{ translations.privacyDataSubject.privacyIPFirst }}</p>
          <p>{{ translations.privacyDataSubject.privacyIPSecond }}</p>
        </li>
      </ul>
      <h4>{{ translations.privacyDataProtection.privacyHeadline }}</h4>
      <p>{{ translations.privacyDataProtection.privacyFirstText }}</p>
      <p>{{ translations.privacyDataProtection.privacySecondText }}</p>
      <p>{{ translations.privacyDataProtection.privacyThirdText }}</p>
      <p>{{ translations.privacyDataProtection.privacyFourthText }}</p>
      <p>{{ translations.privacyDataProtection.privacyFifthText }}</p>
      <p>{{ translations.privacyDataProtection.privacySixthText }}</p>
      <h4>{{ translations.privacyLegal.privacyHeadline }}</h4>
      <p>{{ translations.privacyLegal.privacyFirstText }}</p>
      <h4>{{ translations.privacyLegitimate.privacyHeadline }}</h4>
      <p>{{ translations.privacyLegitimate.privacyFirstText }}</p>
      <h4>{{ translations.privacyDataStored.privacyHeadline }}</h4>
      <p>{{ translations.privacyDataStored.privacyFirstText }}</p>
      <h4>{{ translations.privacySuchData.privacyHeadline }}</h4>
      <p>{{ translations.privacySuchData.privacyFirstText }}</p>
      <h4>{{ translations.privacyAutomatedDecision.privacyHeadline }}</h4>
      <p>{{ translations.privacyAutomatedDecision.privacyFirstText }}</p>
      <p>
        <span>{{ translations.privacyInfoLink.firstText }}</span>
        <a href="https://willing-able.com/"> {{ translations.privacyInfoLink.firstLink }} </a> 
        <span>{{ translations.privacyInfoLink.secondText }}</span>
        <a href="https://abletotrain.com/"> {{ translations.privacyInfoLink.secondLink }} </a>
        <span>{{ translations.privacyInfoLink.thirdText }}</span>
        <a href="https://dg-datenschutz.de/"> Prof. Dr. h.c. Heiko Jonny Maniero </a>
        <span>{{ translations.privacyInfoLink.fourthText }}</span>
        <a href="https://www.wbs.legal/" rel="nofollow"> Christian Solmecke </a>
        <span>{{ translations.privacyInfoLink.fifthText }}</span>
      </p>
    </div>
  </main>
</section>
