<section>
    <div class="karlaFont">
        <div class="imprintContact">
            <h1 class="H1Rules">{{ translations.imprint.imprintHeadline }}</h1>
            <span>Alexander Englert</span>
            <span>Uferstra&szlig;e 2</span>
            <span>89269 Illerzell</span>
        </div>
        <div class="imprintContact">
            <h1 class="H1Rules">{{ translations.imprint.contactHeadline }}</h1>
            <span>{{ translations.imprint.phoneText }}: 01747846871</span>
            <span>E-Mail: aenglertymail23&commat;gmail.com</span>
        </div>
    </div>
</section>
