@import '../../styles.scss';
section{
    height: calc(100vh - 310px);
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    >div{
        @include centerFlex(flex, center, center);
        flex: 1;
        flex-direction: column;
        margin-top: 64px
    }
    h1{
        @include fontStyle(32px, #3DCFB6, 600);
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
.imprintContact{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 48px;
    >span{
        @include fontStyle(16px, #ffffff, 600);
    }
}
@media (max-width: 800px) {
    section{
        height: calc(100vh - 270px);
    }
}
@media (max-width: 700px) {
    section{
        height: calc(100vh - 310px);
    }
}
