<main>
    <section class="scrollingSection">
      <div class="scrollingWrapper">
        <div class="scrollingImage">
          <div class="itemWrapper" *ngFor="let item of repeatedSliderItems">
            <span class="radioButton"></span>
            <span class="sliderTextElements karlaFont">{{ item }}</span>
          </div>
          <div class="itemWrapper" *ngFor="let item of repeatedSliderItems">
            <span class="radioButton"></span>
            <span class="sliderTextElements karlaFont">{{ item }}</span>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  

