<main class="normalBackground">
    <section id="contactSection">
        <div class="contactTextBox">
            <h2 class="sectionHeadlineSmall karlaFont headlineMarginZero">{{ translations.contactMe.contactMeSmallHeadline }}</h2>
            <h1 class="sectionHeadline firaCodeFont headlineMarginZero">{{ translations.contactMe.contactMeHeadline }}</h1>
            <div class="contactText">
                <span class="sectionHeadlineSmall firaCodeFont">{{ translations.contactMe.contactMeQuestion }}</span>
                <span class="karlaFont ">{{ translations.contactMe.contactMeMainText }}</span>
                <div class="contactTextShort karlaFont">
                    <span>{{ translations.contactMe.contactMeTextQuestion }}</span>
                    <span class="contactTextColorChange">{{ translations.contactMe.contactMeTextStatement }}</span>
                </div>
            </div>
        </div>
        <app-contact-me-email></app-contact-me-email>
    </section>
</main>
